html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'WorkSans-Regular';
	src: url('./font/WorkSans-Regular.ttf');
}

@font-face {
	font-family: 'WorkSans-Medium';
	src: url('./font/WorkSans-Medium.ttf');
}

:root {
	--primary-color-black: #000000;
	--primary-color-white: #ffffff;
	--primary-color-theme: #c9e943;
	--primary-font-regular: 'WorkSans-Regular';
	--primary-font-medium: 'WorkSans-Medium';
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color-theme);
}

::-moz-selection {
	background: var(--primary-color-theme);
}

::selection {
	background: var(--primary-color-theme);
}

@media only screen and (max-width: 600px) {
	.btn-title, .mobile-title {
		display: none !important;
	}

	.title svg {
		width: 28px;
		height: 28px;
	}

	/* Mobile App*/
	.footer {
		display: none !important;
	}

	.textarea {
        height: calc(100% - 22px) !important;
	}

	textarea {
        height: calc(100% - 17px) !important;
		width: calc(100% - 17px) !important;
		border-radius: 20px !important;
	}

	.floating-button-menu {
		visibility: visible !important;
	}

	.mobile-button, .toast-item {
		box-shadow: none !important;
	}
}
