body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'WorkSans-Regular';
	src: url('./font/WorkSans-Regular.ttf');
}

@font-face {
	font-family: 'WorkSans-Medium';
	src: url('./font/WorkSans-Medium.ttf');
}

:root {
	--primary-color-black: #222121;
	--primary-color-white: #ffffff;
	--primary-color-yellow: #ffcc5c;
	--primary-font-regular: 'WorkSans-Regular';
	--primary-font-medium: 'WorkSans-Medium';
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color-yellow);
}

::-moz-selection {
	background: var(--primary-color-yellow);
}

::selection {
	background: var(--primary-color-yellow);
}

@media only screen and (max-width: 600px) {
	.btn-title {
		display: none;
	}
}