.cover {
	position: fixed;
	width: 98.9%;
	height: 97.75%;
	margin: 0 auto;
	opacity: 0;
    border-radius: 5px;
	animation: fade-out 4s;
	background: #ffcc5c;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cover #icon {
	--size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: var(--size);
	animation: zoom-in 2s;
	animation-delay: 2s;
	/*infinite*/
}

@keyframes zoom-in {
	50% {
		width: var(--size);
	}

	60% {
		width: calc(var(--size) * 0.9);
	}

	100% {
		width: 250%;
	}
}

@keyframes fade-out {

	0%,
	85% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.content {
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.cover {
		width: 95.9%;
		height: 97.6%;
	}
}